body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* font: 15px/1.5 Arial, Helvetica, sans-serif; */

  padding: 0;
  margin: 0;
  background-color: beige;
} 

/* GLOBAL */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background: steelblue;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: orchid 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding img {
  float: left;
}

header #branding h1 {
  margin: 0;
  padding: 0;
}

header nav {
  float: right;
  margin-top: 10px
}

header .highlight, header .current a {
  color: powderblue;
}

header a:hover{
  color: black;
  font-weight: bold;
}

/* showcase */
