/*
DBCFB0 - dutch white
BFC8AD - laurel green
90B494 - dark sea green
718F94 - steel teal
545775 - independence
*/

body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* font: 15px/1.5 Arial, Helvetica, sans-serif; */

  padding: 0;
  margin: 0;
  background-color: beige;
} 


/* MISC */

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.mgn-5 {
  margin: 5px;
  margin-top: 0;
}

.pad-5 {
  padding: 5px;
  padding-top: 0;
}

.pad-10 {
  padding: 10px;
  padding-top: 0;
}


/* GRID */

.grid-container {
  display: grid;
  gap: 6.9px;
  grid-template-columns: repeat(3, 1fr);
  margin: 42;
}

.grid-item {
  background: steelblue;
  padding 20px;
  border: 3px solid red;
}


/* BOXES */

.box {
  background-color: lavender;
  margin: 4.2px;
  float: left;
  box-sizing: border-box;
  border: 2px solid slateblue;
}

.box img {
  width: 100%;
  height: 50%;
  margin-bottom: 0;
}

.box p {
  margin: 5px 0px;
  padding: 0;
}

.box a {
  padding-top: 0;
  font-size: 20px;
  color: steelblue;
}

.box a:hover {
  text-decoration-thickness: 3px;
}


/* GLOBAL */

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  background: steelblue;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: black 3px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding img {
  float: left;
}

header #branding h1 {
  margin: 0;
  padding: 0;
}

header nav {
  float: right;
  margin-top: 10px
}

header .highlight, header .current a {
  color: powderblue;
}

header nav a:hover{
  color: black;
  font-weight: bold;
}


/* SHOWCASE */

#showcase{
  min-height: 400px;
  background: url(../images/school_building.png) no-repeat 0 0;
  background-size: 100%;
  text-align: center;
  color: black;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
}

#showcase p{
  font-size: 20px;
}

/* I dunno man */
.button {
  display: block;
  width: 169px;
  height: 25px;
  background: lightslategrey;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

.button:hover {
  background: grey;
}


/* colors */
/* bgc means BackGround Color */
.bgc-purple{
  background: plum;
}
