{% extends "main/base.html" %}
{% load static %}

{% block title %}
<title>You are at the index!</title>
{% endblock title %}

{% block body %}

<section id="showcase">
  <div class="container">
    <h1>never gonna give you up</h1>
    <p>never gonna let you down</p>
  </div>
</section>


<!-- this could be turned into a component? -->
<section id="news">
  <div class="container">
    <h2 class="center"> NEWS </h2>
    <div class="grid-container">
      <div class="grid-item box">
        <img src="{% static 'main/images/school_building.png' %}" alt="an image">
        <div class="pad-5">
          <a href="/">some title</a>
          <p><i>some date here</i></p>
          <p>a hacker man hacced a haccer [69 chars only]</p>
        </div>
      </div>

      <div class="grid-item box">
        <img src="{% static 'main/images/school_building.png' %}" alt="an image">
        <div class="pad-5">
          <a href="/">some title</a>
          <p><i>some date here</i></p>
          <p>a hacker man hacced a haccer [69 chars only]</p>
        </div>
      </div>

      <div class="grid-item box">
        <img src="{% static 'main/images/school_building.png' %}" alt="an image">
        <div class="pad-5">
          <a href="/">some title</a>
          <p><i>some date here</i></p>
          <p>a hacker man hacced a haccer [69 chars only]</p>
        </div>
      </div>

    </div>
  </div>
  <a href="{% url 'main:index' %}" class="button center">BROWSE NEWS ></a>
  <!-- <small>[<] [.] [.] [.] [>]</small> -->
</section>

<!-- this could be turned into a component? -->
<section id="events" class="bgc-purple">
  <div class="container">
    <h2 class="center"> UPCOMING EVENTS </h2>
    <div class="grid-container ">
      <div class="grid-item box pad-10">
        <p>october 69 4200</p>
        <p>69:69</p>
        <p>a hacker man hacced a haccer [69 chars only]</p>
        <a href="/">some title</a>
      </div>

      <div class="grid-item box pad-10">
        <p>october 69 4200</p>
        <p>69:69</p>
        <p>a hacker man hacced a haccer [69 chars only]</p>
        <a href="/">some title</a>
      </div>

      <div class="grid-item box pad-10">
        <p>october 69 4200</p>
        <p>69:69</p>
        <p>a hacker man hacced a haccer [69 chars only]</p>
        <a href="/">some title</a>
      </div>
    </div>
    <!-- <small>[<] [.] [.] [.] [>]</small> -->
    <a href="{% url 'main:index' %}" class="button center">BROWSE EVENTS</a>
  </div>
</section>

{% endblock body %}
