<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>

  <body>
    <p>logo here</p>
    <h3>AiTECH SGA</h3>
    <p>student government association</p>

    <nav>
      <ul>
        <!-- <li><h3>Home</h3></li> -->
        <li><h3>About Us</h3></li>
        <li><h3>Events</h3></li>
        <li><h3>Announcements</h3></li>
        <!-- <li><h3>Calendar</h3></li> -->
        <li><h3>Contact Us</h3></li>
        <li><h3>Forums</h3></li>
        <!-- <li><h3>Timeline</h3></li> -->
      </ul>
      <p> search here </p>
    </nav>

    image here student government people?

    news here

    upcoming events here

    <footer>
      <p> name here </p> <p>links here</p>
      <p>location here</p>
      <p> contact us </p>  
    </footer>
  </body>
</html>
