{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
  </head>

  <body>
    <p>logo here</p>
    <h3>AiTECH SGA</h3>
    <p>student government association</p>

    <nav>
      <a href="{% url 'main:index' %}">Home</a> |
      <a href="{% url 'main:about-sga_officials' %}">Among Us</a> |
      <a href="{% url 'main:about' %}">About Us</a> |
      <a href="{% url 'main:contact' %}">Contact Us</a>
      <!-- <a href="{% url 'main:index' %}">Events</a> -->
      <!-- <a href="{% url 'main:index' %}">News</a> -->
      <!-- <a href="{% url 'main:index' %}">Forums</a> -->
      <!-- <a href="">Calendar</a> -->
      <!-- <a href="">Timeline</a> -->
      <p> search here </p>
    </nav>

    image here student government people?

    news here

    upcoming events here

    <footer>
      <p> name here </p> <p>links here</p>
      <p>location here</p>
      <p> contact us </p>  
    </footer>
  </body>
</html>
